* {
    margin: 0;
    padding: 0;
}

.header-container {
    background: url("/Assets/Hero-bg.png");
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    margin: auto;
    border-bottom: 1px dashed black;
    border-color: grey;

}

.nav-bar {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-bar h2 {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;

}


.nav-bar button {
    padding: 8px 30px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}

.hero-section {
    text-align: center;
    padding-top: 158px;
    padding-bottom: 237px;

}

.hero-section h1 {
    width: 905px;
    font-size: 65px;
    margin: auto;
    padding-bottom: 37px;
}

.hero-section button {
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 700px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: tomato;
}

.main {
    width: 1140px;
    margin: auto;

}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
    padding-bottom: 116px;
}

.action-container h2 {
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.action-container p {
    font-size: 24px;
    font-weight: 400;
    padding: 23px 0 23px 0;
    width: 517px;
    color: #25243280;
}

.action-container button {
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.action-container img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.users-section{
    margin: auto;
    width: 856px;
    text-align: center;
    background-color: #4E47FF1A;
    border-radius: 24px;
    padding: 0 140px;
}

.users-section h4 {
    font-size: 38px;
    font-weight: 700;
    padding: 50px 0 40px 0;
}
.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 168px;
}

.users h2 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;

}

.users p{
    font-size: 20px;
    font-family: 400;
    color: #00000080;
    padding-bottom: 50px;
}