/* universal css  */
* {
    margin: 0;
    padding: 0;
}


/* google fonts  */
.raleway-landing {
    font-family: "Raleway", sans-serif;
}


/* header started section here  */
.header-container {
    width: 1440px;
    margin: auto;
    border-bottom: 1px dashed black;
    border-color: grey;

}


/* navbar and hero started section here  */
.nav-bar {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-bar h2 {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;

}


.nav-bar button {
    padding: 8px 30px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}

.hero-section {
    text-align: center;
    padding-top: 158px;
    padding-bottom: 237px;

}

.hero-section h1 {
    width: 905px;
    font-size: 65px;
    margin: auto;
    padding-bottom: 37px;
}

.hero-section button {
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 700px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: tomato;
}



/* main section started here  */
.main {
    width: 1140px;
    margin: auto;

}



/* See It in Action section started here  */
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
    padding-bottom: 116px;
}

.action-container h2 {
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.action-container p {
    font-size: 24px;
    font-weight: 400;
    padding: 23px 0 23px 0;
    width: 517px;
    color: #25243280;
}

.action-container button {
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.action-container button:hover {
    background-color: tomato;
}

.action-container img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}



/* Joined Thousands of Productive Users section started here  */
.users-section {
    margin: auto;
    width: 856px;
    text-align: center;
    background-color: #4E47FF1A;
    border-radius: 24px;
    padding: 0 140px;
}

.users-section h4 {
    font-size: 38px;
    font-weight: 700;
    padding: 50px 0 40px 0;
}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 168px;
}

.users h2 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;

}

.users p {
    font-size: 20px;
    font-family: 400;
    color: #00000080;
    padding-bottom: 50px;
}



/* What our users say section started here  */
.designers-section-title {
    text-align: center;
    padding: 132px 0 50px 0;
}

.designers-section {

    display: flex;
    gap: 20px;
    padding-bottom: 137px;

}

.designers-section-bg {
    background-color: #FFFFFF80;
    padding: 12px;
    width: 366px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}

.designers-section img {
    width: 20px;
    padding-bottom: 24px;
}

.designers-section h2 {
    font-size: 24px;
    font-family: 600;
    color: #1E1E1E;
    padding-bottom: 10px;
}

.designers-section p {
    font-size: 16px;
    font-family: 400;
    color: #1E1E1E;
    padding-bottom: 30px;
}

.designers-section-logo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.designers-section-logo img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.designers-section-reviewer h5 {
    font-size: medium;
    font-weight: 600;
}

.designers-section-reviewer p {
    font-size: 16px;
    font-weight: 400;

}



/* Ready to focus better section started here  */
.focus-section {
    text-align: center;
    background-color: #FFFFFF;
    padding: 71px 150px;
    border-radius: 14px;
}

.focus-section img {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    padding-top: 20px;
}

.focus-section-container h1 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #000000;
}

.focus-section-container p {
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    padding-bottom: 20px;
}

.focus-section-container button {
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.focus-section-container button:hover {
    background-color: tomato;
}



/* Let’s Get in Touch section started here  */
.touch-section {
    display: flex;
    align-items: center;
    gap: 115px;
    margin-top: 92px;
}

.touch-section h1 {
    font-size: 88px;
    font-weight: 700;
    color: #000000;
}

.touch-section-form {
    display: flex;
    flex-direction: column;
}

.touch-section-form label {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 10px;
}

.touch-section-form input {
    width: 500px;
    padding: 14px 24px 14px 24px;
    border: none;
    outline: none;
    margin-bottom: 19px;
    border-radius: 10px;
}

.touch-section-form textarea {
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.touch-section-form button {
    margin-top: 19px;
    background-color: #4E47FF;
    padding: 19px 0;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 70px;
    border: none;

}

.touch-section-form button:hover {
    background-color: tomato;
}


/* footer section started here  */
.footer-container {
    background-color: #FFFFFF;

}

.footer-container-logo {
    text-align: center;
    width: 531px;
    margin: auto;
    padding: 100px 0;
}

.footer-container-logo h1 {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}

.footer-container-logo p {
    color: #8987A1;
    margin-bottom: 20px;
}

.footer-container-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-container-list li {
    list-style-type: none;
}

.footer-container-list li a {
    text-decoration: none;
    color: #8987A1;
}